.container { margin: 0 auto; max-width: 1170px; }
section { display: flex; }

.flex { display: flex; }
.flex-column { flex-direction: column; }
.flex-one { flex: 1; }
.align-center { align-items: center; }
.center { justify-content: center; }
.space-between { justify-content: space-between; }

.btn {
    cursor: pointer;
    border: 0;
    padding: 6px 12px;
    line-height: 1.4;
    border-radius: 3px;
}
.btn-default { color: #ffffff; background-color: #faa541; }
.btn-primary { color: #ffffff; background-color: #364147; }

.form-control {
    display: block;
    padding: 6px 12px;
    line-height: 1.4;
    color: #8598a2;
    border: 1px solid #a0a0a0;
}

.text-light { font-size: 30px; color: #A0A0A0; }
.text-secondary { font-size: 30px; color: #faa541; }
.text-primary { font-size: 16px; color: #364147; }
.header-nav{
  border-bottom: 1px;
  border-color: #a0a0a0;
}
.brand{
  width: 85px;
  height: 170px;
  margin-left: -15px;
  margin-right: 60px;
}
.logo{
  max-width: 100%;
  max-height: auto;
}
